@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

@layer components {
  .main-color-btn {
    @apply rounded bg-[#2384C6] px-6 py-2 text-base font-semibold text-white;
  }
  .cancel-btn {
    @apply rounded border px-6 py-2 text-base font-semibold;
  }
  .small-color-btn {
    @apply rounded bg-[#2384C6] px-4 py-1 text-base font-semibold text-white;
  }
}
